
<h3>Place Order</h3>
<div class="table-responsive-sm">
  <table class="table">
    <tr class="table-primary">
      <th>item</th>
      <th>Weight</th>
      <th>quantity</th>
      <th>Price per Kg</th>
      <th>total price</th>
    </tr>

    <% @carts.each do |x|%>
      <tr>
      <td><%= x["name"]%></td>
      <td><%= x["pack_weight"] %><%= x["weight_type"] %></td>
      <td><%= x["quantity"]%></td>
      <td><%= x["price_per_kg"]%></td>
      <td><%= total_price(x["pack_weight"],x["weight_type"],x["quantity"],x["price_per_kg"]) %></td>


      </tr>

    <% end %>

    <tr>
      <td colspan="4"></td>

      <th><%= sum_total(@carts)%></th>
    </tr>
    <tr>
      <td colspan="3"></td>
      <th>Tax(10%)</th>
      <td><%= tax(@carts)%></td>
    </tr>
    <tr>
      <td colspan="3"></td>
      <th>Total to pay</th>
      <th><%= total_to_pay(@carts)%></th>
    </tr>
    <tr>
      <td colspan="4"></td>
      <th><%= link_to "Confirm Order" ,cart_confirm_order_path(@cart),
                          data: {turbo_method: :confirm_order,
                            turbo_confirm: "Are you sure?"},
                            class:"btn btn-primary"%></th>
    </tr>


  </table>
  </div>
  <p><%= link_to "back",carts_path ,class:"btn btn-primary"%></p>
